html {
  background-color: #260014;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #260014, #400020);
  color: #fff;
}
header {
  background-color: #400020;
  text-align: center;
  padding: 2rem;
}
header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #fff;
}
header p {
  margin: 0;
  font-size: 1.2rem;
  color: #a06077;
}
.package-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.package-details img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.description {
  text-align: center;
  max-width: 600px;
  margin: auto;
}
.description h2 {
  color: #a06077;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.description p {
  font-size: 1.2rem;
  line-height: 1.6;
}
.additional-info {
  background: linear-gradient(to bottom, #260014, #400020);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.additional-info h2 {
  color: #a06077;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.additional-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.additional-info li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  position: relative;
}
.additional-info li::before {
  content: "\2022";
  color: #a06077;
  font-size: 1.5rem;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}
.pricing {
  background-color: #260014;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.pricing h2 {
  color: #a06077;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.pricing ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.pricing li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  position: relative;
}
.pricing li::before {
  content: "\2022";
  color: #a06077;
  font-size: 1.5rem;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}
.booking {
  text-align: center;
  padding: 2rem;
}
.booking h2 {
  color: #a06077;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.booking p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.btn {
  border: #a06077 2px solid;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: #400020;
  color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #2b0013;
}
